:root {
  --background: #f8e1e6;
  --text-black: #366baa;
  --text-white: #ffffff;
  --text-grey: #7a7a7a;

  --primary-blue: #366baa;

  --pastel-purple: #98a2c4;
  --pastel-orange: #e7c79a;
  --pastel-blue: #98c0d3;
  --pastel-red: #d7b1a3;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('./assets/fonts/glacial-regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference Bold';
  src: url('./assets/fonts/glacial-bold.otf');
  font-style: bold;
}

@font-face {
  font-family: 'New Icon';
  src: url('./assets/fonts/new-icon.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Glacial Indifference', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 2;
  background-color: var(--background);
  color: var(--text-black);
}


.container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center; 
}

h1 {
  font-family: 'New Icon';
}

h2 {
  font-family: 'Glacial Indifference Bold', Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 4.5vw, 5rem);
  line-height: 1;
}



