:root {
  --background: #fcebeb;
  --text-black: #000000;
  --text-white: #ffffff;
  --text-grey: #7a7a7a;

  --pastel-purple: #98a2c4;
  --pastel-orange: #e7c79a;
  --pastel-blue: #98c0d3;
  --pastel-red: #d7b1a3;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('./assets/fonts/glacial-regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference Bold';
  src: url('./assets/fonts/glacial-bold.otf');
  font-style: bold;
}

@font-face {
  font-family: 'New Icon';
  src: url('./assets/fonts/new-icon.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Glacial Indifference', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 2;
  background-color: var(--background);
  color: var(--text-black);
}


.website-container {
  max-width: 85%;
  margin: 0 auto;
  text-align: center;  
}

.hero-container {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.hero-container h1{
  margin: 0;
  line-height: 0.8;
  font-size: 14.2vw;
  width: 100%;         
}

.hero-container img {
  width: 100%;         
}

h1 {
  font-family: 'New Icon';
}

.tagline {
  font-size: 45px;
}

#arrow-image {
  width: 20vw;
}

#arrow-image:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

nav {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  gap: 50px;
}

nav a {
  padding: 10px 15px;
  color: var(--text-black);
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  background-color: var(--text-black);
  border-radius: 25px;
  color: var(--text-white);
}

.about-container {
  display: flex;
  flex-direction: row;
  gap: 50px;

}

.about-image {
  height: 30vw;
}

.about-text p {
  text-align: justify;
  font-size: 16px;
}
