/* Layout and Main Containers */

.book-details-container {
  margin-bottom: 80px;
}

.back-button {
  display: block;
  margin: 80px 0 0 auto;
}

.loading-screen {
  grid-column: 1 / -1; 
  text-align: center;
  color: var(--text-grey);
  margin: 300px 0;
  font-family: 'Glacial Indifference', Arial, sans-serif;
}

.loading-screen p {
  font-size: 1rem;
}

/* Book Information Section */

.details-section {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 50px;
  background-color: var(--text-white);
  color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
  border-radius: 50px;
}

.book-cover img {
  height: 25vw;
}

.book-details-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--primary-blue);
}

.book-details-info p {
  text-align: left;
  font-family: 'Glacial Indifference', sans-serif;
  text-align: justify;
}

.book-details-info .book-title {
  font-family: 'Glacial Indifference Bold', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}

.book-details-info .book-author {
  text-align: left;
  font-size: 30px;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
}

.book-description {
  margin: 0;
  line-height: 2;
  font-size: clamp(12px, 2vw, 15px);
  color: var(--primary-blue);
}

/* Diary and Form Section */

.diary-section {
  gap: 20px;
  margin: 50px 0;
  padding: 50px 50px 60px;
  display: flex;
  flex-direction: column;
  color: var(--text-white);
  background-color: var(--primary-blue);
  border-radius: 50px;
}

.diary-section label {
  margin-bottom: 4px;
}

.diary-section h2 {
  margin: 0;
  font-family: 'Glacial Indifference', sans-serif;
}

.note-form, .quote-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

textarea, input {
  height: 40px;
  font-family: inherit;
  padding: 20px;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  outline: none;
}

.date-rating-form {
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  display: grid;
  flex-direction: row;
}

.date-rating-form input {
  height: fit-content;
}

.date-form, .rating-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* Responsive Design */

@media screen and (max-width: 850px) {
  .book-details-container {
    margin-bottom: 40px;
  }

  .back-button {
    display: block;
    margin: 30px 0 0 auto;
  }

  .details-section {
    margin: 25px 0;
    padding: 25px;
    gap: 20px;
  }

  .book-cover img {
    height: 35vw;
  }

  .book-details-info .book-title {
    font-size: 25px;    
  }

  .book-details-info .book-author {
    font-size: 18px;
  }

  .diary-section {
    margin: 25px 0;
    padding: 25px;
  }

  .diary-section label, .diary-section textarea, .date-form input, .rating-form input {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .date-rating-form {
    display: flex;
    flex-direction: column;
  }

  .diary-section label, .diary-section textarea, .date-form input, .rating-form input {
    font-size: 12px;
    border-radius: 15px;
  }

  .diary-section textarea, .date-form input, .rating-form input {
    padding: 12px;
    height: 15px;
  }
}

@media screen and (max-width: 450px) {
  .details-section {
    display: grid;
  }

  .book-cover img {
    height: 50vw;
  }

  .book-details-info .book-title, .book-details-info .book-author {
    text-align: center; 
  }

  .book-details-info .book-author {
    font-size: 15px;
  }
}