.greeting {
  font-size: clamp(3rem, 6vw, 10rem);
  margin: 50px 0 35px;
}

.account-stats {
  padding: 25px;
  width: max-width;
  border: 2px solid var(--primary-blue);
  border-radius: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--text-white);
  color: var(--primary-blue);
}

.account-stats p {
  text-transform: uppercase;
  margin: 0;
  font-size: 15px;
  text-align: left;
}

.account-stats span {
  font-family: 'Glacial Indifference Bold', sans-serif;
}

.stat-left {
  padding-right: 15px;
}

.user-settings {
  margin: 25px 0 50px;
}

.admin-button {
  margin-left: 15px;
  background-color: var(--secondary-red);
  color: var(--text-white);
  border: 2px solid var(--secondary-red);
}

.admin-button:hover {
  background-color: transparent;
  color: var(--secondary-red);
}

.empty-message {
  color: var(--text-grey);
  font-size: 25px;
  font-style: italic;
  width: 100%;
  margin-bottom: 100px;
  text-align: center;
}

.empty-diary {
  margin-top: 100px;
}

.diary-masonry-feed {
  display: flex;       
  gap: 50px;           
  margin: 80px 0;
  align-items: flex-start;
  width: 100%;
}

.masonry-column {
  flex: 1;             
  display: flex;
  flex-direction: column; 
  gap: 50px;           
}

.diary-card {
  position: relative;
  background: var(--text-white);
  border: 2px solid var(--primary-blue);
  border-radius: 50px; 
  padding: 40px;
  box-sizing: border-box;
  overflow: hidden;
  display: block; 
  width: 100%;
  transition: all 0.3s ease;
}

.diary-content-top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
}

.entry-cover img{
  width: 100%;
}

.entry-title {
  font-family: 'Glacial Indifference Bold', sans-serif;
  height: fit-content;
  font-size: 35px;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.entry-notes {
  text-align: justify;
  font-size: 18px;
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 1.8;
}

.entry-date {
  font-size: 20px;
  margin: 10px 0 0 0;  
  text-align: left;
  font-style: italic;
}

.diary-content-bottom {
  text-align: justify;
  margin-top: 20px;
}

.diary-content-bottom p {
  font-size: 16px;
}

strong {
  font-family: 'Glacial Indifference Bold', sans-serif;
  text-transform: uppercase;
}

.diary-card .edit-diary-button {
  position: absolute;
  top: 50%;
  left: 46%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease; 
  transform: scale(1.5);
  border-radius: 100px;
  border: 10px solid var(--text-white); 
}

.diary-card:hover .edit-diary-button {
  opacity: 1;
  visibility: visible;
}

.diary-profile-actions {
  margin: 40px 0 10px;
}

.diary-delete-button {
  background-color: var(--secondary-red);
  color: var(--text-white);
  border: 2px solid var(--secondary-red);
}

.diary-delete-button:hover {
  background-color: transparent;
  color: var(--secondary-red);
}

.dashboard-hr {
  margin: 30px 0;
}