.footer {
    text-align: center;
    margin: 150px auto 50px;
    padding: 50px 0;
    border-radius: 60px;
    background-color: var(--primary-blue);
}

.footer p {
    color: var(--text-white);
    margin: 0;
    font-size: clamp(10px, 1.5vw, 16px);
    text-transform: uppercase;
    text-align: center;
}

.footer h3 {
    color: var(--text-white);
    font-family: 'New Icon';
    font-size: clamp(25px, 8vw, 80px);
    margin: 0 0 -15px;
}

.footer img {
    width: 10vw;
    margin: 10px;
}

.footer-links {
    margin: 10px auto;
    max-width: fit-content;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: var(--text-white);
    font-size: clamp(10px, 1.5vw, 16px);
    text-decoration: none;
    text-transform: uppercase;
}

.footer-links a:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

