.hero-image {
  width: 100%;         
}

.explore, .organize, .digitize {
  margin: 100px 0;
}

.explore-image {
  width: 100%;
}

.organize-image {
  width: 50%;
}

p {
  align-items: center;
  font-family: 'Glacial Indifference', Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 2.5vw, 60px);
  line-height: 1.6;
}

