nav {
    display: flex;
    padding: 22px 0 20px;
    margin: 50px 0;
    border-top: 2px solid var(--primary-blue);    
    border-bottom: 2px solid var(--primary-blue);
    justify-content: space-between;
}

.nav-links {
    font-size: clamp(12px, 1.5vw, 15px);
    display: flex;
    gap: 50px;
}

nav a {
    color: var(--text-black);
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid var(--background);
}

nav a:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    border-bottom: 2px solid var(--primary-blue);
}

.icon-image {
    cursor: pointer;
    height: 30px !important;
    width: 30px !important;
}

.icon-image:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease;
}