:root {
  --pastel-purple: rgba(152, 162, 196, 0.5);
  --pastel-orange: rgba(231, 199, 154, 0.5);
  --pastel-blue: rgba(152, 192, 211, 0.5);
  --pastel-red: rgba(215, 177, 163, 0.5);
  --pastel-red-two: rgba(215, 177, 163, 0.5);
  --pastel-blue-two: rgba(152, 192, 211, 0.5);
  --pastel-orange-two: rgba(231, 199, 154, 0.5);
  --pastel-purple-two: rgba(152, 162, 196, 0.5);
}

.section-title {
    text-align: left;
    font-size: 50px;
    margin-bottom: 1px;
}

hr {
    border: none; 
    height: 2px; 
    background-color: var(--text-black); 
}


.search-controls {
    display: flex;  
    margin: 25px 0 50px;
    gap: 1rem;
    max-width: 100vw; 
}

.search-controls select {
    padding: 15px;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Glacial Indifference', Arial, Helvetica, sans-serif;
    background-color: var(--text-white);
    border: 2px solid var(--text-black);
}

.search-controls input {
    flex: 1;
    margin-right: 300px;
    font-size: 18px;
    font-family: 'Glacial Indifference', Arial, Helvetica, sans-serif;
    padding: 15px;
    border: 2px solid var(--text-black);
    border-radius: 20px;
}


.books-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px; 
}

.book-card {
    text-align: center;
    border-radius: 50px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none; 
    color: inherit; 
    transition: box-shadow 0.2s, transform 0.2s; 
    overflow: hidden; 
}

.book-cover-wrapper {
    padding: 50px; 
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 50px; 
    display: flex; 
    align-items: center;
    height: 250px; 
}

.book-card:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.15); 
    border-radius: 50px;
    transform: translateY(-10px); 
}

.book-card img {
    width: 100%; 
    max-height: 250px; 
    object-fit: contain; 
}

.book-details {
    flex-grow: 1; 
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.book-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 0;
    line-height: 1;
}

.book-card p {
    padding: 0 15px;
    margin-top: 8px;
    line-height: 1.2;
    font-style: italic;
    color: var(--text-grey);
    font-size: 13px;
}

.no-cover {
    width: 100%;
    height: 180px;
    background-color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-grey);
}



.pagination {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.pagination button {
    padding: 10px 15px;
    font-family: 'Glacial Indifference', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border-radius: 50px;
    border: 2px solid var(--text-black);
    background: none;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
}

.pagination button.active {
    background: var(--text-black);
    color: var(--text-white);
    border-color: var(--text-black);
}

.ellipsis {
    color: var(--text-black);
}

.no-results {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1rem;
    color: var(--text-grey);
}

@media (max-width: 900px) {
    .books-container {
        grid-template-columns: repeat(2, 1fr);
    }
}