/* 
.shelves-container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Times New Roman', serif;
}

/* 
.shelf-section h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  margin-top: 50px;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

/* 
.shelf-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 30px;
  justify-content: flex-start;
}

.book-card {
  width: 150px;
  text-align: center;
}


.image-container {
  position: relative; 
  width: 150px;
  height: 230px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.image-container:hover {
  transform: translateY(-5px);
}

.book-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
} */


.delete-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  
  display: flex;      
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;       
  
  opacity: 0;        
  transition: opacity 0.3s ease;
}


.image-container:hover .delete-overlay {
  opacity: 1;
}

/* --- CIRCLE BUTTONS --- */
.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.icon-btn:hover {
  background: white;
  color: black;
  transform: scale(1.1);
}

/* --- HEART SPECIFIC STYLES --- */
.active-heart {
  color: #ff4d4d !important; /* Red Color */
  border-color: #ff4d4d !important;
  font-weight: bold;
}

/* --- TEXT INFO --- */
.book-info h3 {
  font-size: 0.95rem;
  margin: 12px 0 5px;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 1.3;
}

.book-info p {
  font-size: 0.8rem;
  color: #666;
  margin: 0;
}

/* --- MODAL (Popup) --- */
.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content select, 
.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}