.footer {
    text-align: center;
    margin: 150px auto 50px;
    padding: 50px 0;
    max-width: 85%;
    border-radius: 60px;
    background-color: var(--text-black);
}

.footer p {
    color: var(--text-white);
    font-size: 12px;
    text-transform: uppercase;
}

.footer h3 {
    color: var(--text-white);
    font-family: 'New Icon';
    font-size: 50px;
    margin: 40px 0 40px 0;
}

.footer img {
    width: 10vw;
    margin: 10px;
}

.footer-links {
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footer-links a {
    color: var(--text-white);
    text-decoration: none;
    text-transform: uppercase;
}

